.header-container {
	background-color: white;
	margin: 2%;
	max-width: 100%;	
}

.heading-container {
	justify-content: space-between;
}

.field-dependency-labelcheckbox{
	display:-webkit-inline-box;
}
.record-info {
	display: flex;
	margin-right: 1%;
}

.container {
		justify-content: space-between !important;
}
.field-dependency-container {	
	justify-content: space-between !important;
	margin-top: 2%;
}

.record-filter-container {
	display: flex;
	margin-right: 1%;
}
.search-button-style{
	display: flex;
	margin-top:2.3%;
	padding:10px;
	width:25%;
}
.number-button-style{
	display: flex;
	margin-top:2.3%;
	padding:10px;
	width:12%;
}
.button-style{
	display: flex;
	margin-top:2.3%;
	padding:10px;
}